<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Submitted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>✅ Application Submitted Successfully!</h1>

<div class="form-container" style="text-align:center;">
    <p style="font-size:16px;">
        Your application has been sent successfully.<br>
        We wish you the best! 🚀
    </p>

    <br>

    <a href="/" class="job-link">← Back to Dashboard</a>
</div>

</body>
</html>
